.App {
  text-align: center;
}

.app__form {
  padding: 20px;
  position: fixed;
  bottom: 0;
  z-index: 1;
  /* display: flex;
  flex-direction: row;
  text-align: center; */
  background-color: #e9e9eb;
  width: 100%;
  margin: 20px;
}

.app__formControl {
  display: flex !important;
  flex-direction: row !important;
}

/* take up as much room as you need to */
.app__input {
  flex: 1;
}

/* take up the minimum amount of space you need to */
.app__iconButton {
  flex: 0;
}
